<div *ngIf="!nuevoDestinatario">

    <h2 class="titulo">Transferir a terceros</h2>
    <hr>
    <div class="row" *ngFor="let cuenta of cliente.cuentas">
        <div class="col-md-5">
            <div class="card">
                <div class="row card-body">
                    <div class="col-md-2">
                        <img src="/assets/images/avatar1.png" width="50rem" style="border-radius: 100%;">
                    </div>
                    <div class="col-md-8">
                        <small style="color: blue"><strong>Desde:</strong></small><br>
                        <small><strong>{{ cuenta.tipo }} {{ cuenta.numero }}</strong></small><br>
                        <small class="small-gray">Saldo: {{cuenta.saldo | currency: 'CLP' : 'symbol-narrow'}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!destinatarioSeleccionado">
        <div class="row mt-2 mb-2">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="sub-title-1 mt-2">¿A quien vas a Transferir?</h5>
                    </div>
                    <div class="col-md-6" style="margin: auto;text-align: center;">
                        <button class="btn-custom" (click)="nuevoDestinatario = true">Nuevo Destinatario</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="row card-body">
                        <input type="text" class="form-control" placeholder="Busca por nombre, RUT, email o celular" (keyup)="filterDestinatario($event)">
                        <div class="separador"></div>
                        <div class="contenedor" style="max-height: 25rem; overflow-y: scroll">
                            <div class="row opcion-destinatarios" *ngFor="let destinatario of destinatarios">
                                <div class="col-md-2">
                                    <img src="/assets/images/avatar2.png" width="50rem" width="100%" style="border-radius: 100%;">
                                </div>
                                <div class="col-md-8" *ngFor="let cuenta of destinatario.cuentas" (click)="seleccionarDestinatario(cuenta, destinatario)">
                                    <span class="nombre-destinatario">{{ destinatario.nombre }}</span><br>
                                    <span class="info-destinatario">{{ destinatario.rut }}</span><br>
                                    <span class="info-destinatario">{{ cuenta.banco }}</span><br>
                                    <span class="info-destinatario">{{ cuenta.tipo }} {{ cuenta.numero }}</span><br>
                                    <span class="info-destinatario">{{ destinatario.email }}</span><br>
                                    <span class="info-destinatario">{{ destinatario.telefono }}</span><br>
                                    
                                </div>
                                <div class="col-md-2" style="align-self: center;">
                                    <button class="btn-custom-red" (click)="eliminarDestinatario(destinatario._id)">Eliminar</button>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>

    
    <div class="row" *ngIf="destinatarioSeleccionado">
        <div class="col-md-5">
            <div class="separador"></div>
            <div class="card">
                <div class="row card-body">
                    <div class="col-md-2">
                        <img src="/assets/images/avatar2.png" width="50rem" style="border-radius: 100%;">
                    </div>
                    <div class="col-md-7">
                        <small style="color: blue"><strong>Hacia:</strong></small><br>
                        <small><strong>{{this.destinatarioSeleccionado?.nombre}}</strong></small><br>
                        <small>{{this.cuentaSeleccionada?.banco }}</small><br>
                        <small>{{this.cuentaSeleccionada?.tipo }} {{this.cuentaSeleccionada?.numero }}</small>
                    </div>
                    <div class="col-md-3" style="align-self: center;">
                        <button class="btn-custom" (click)="destinatarioSeleccionado = null">Cambiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- formTransaccion -->

<form (ngSubmit)="sendTransaccion()" [formGroup]="formTransaccion" *ngIf="destinatarioSeleccionado">
    <div class="row mt-2 mb-2">
        <div class="col-md-5">
            <h3 class="sub-title-2 mt-2">¿Cuánto transferiras?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="row card-body">
                    <label for="monto">Ingresa un monto</label><br>
                    <input AppFormatMonto type="number" formControlName="monto" class="form-control" placeholder="EJ: $10.000" maxlength="7">
                    <span *ngIf="monto?.touched && monto?.errors?.min" class="text-invalid">
                        No puedes transferir menos de $1.000.
                    </span>
                    <span *ngIf="monto?.touched && monto?.errors?.max" class="text-invalid">
                        No puedes transferir mas de $100.000.
                    </span>
                    <span *ngIf="monto?.touched && monto?.errors?.required" class="text-invalid">
                       El monto es obligatorio.
                    </span>
                    <label for="mensaje">¿Quieres añadir un mensaje?</label><br>
                    <input type="text" formControlName="mensaje" class="form-control" placeholder="Ingresa un mensaje">
                </div>
            </div>
            <br>
            <div class="btn-group">
                <button class="btn-custom" [disabled]="formTransaccion.invalid">Transferir</button>
            </div>
        </div>
    </div>
</form>


<div *ngIf="nuevoDestinatario">
    <div class="row">
        <div class="col-md-5">
            <h3 class="titulo">Nuevo destinatario</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h5 class="sub-title">Ingresar los siguientes datos:</h5>
        </div>
    </div>
    
    <form (ngSubmit)="sendDestinatario()" [formGroup]="formDestinatario">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="row card-body">
                    <label for="rutDestinatario">RUT destinatario</label><br>
                    <input AppFormatRut formControlName="rut" type="text" class="form-control" placeholder="Ingrese un RUT" maxlength="12" minlength="11" autocomplete="off" (keyup)="verificarRut()">
                    <span *ngIf="rut?.touched && rut?.errors?.rut_invalido" class="text-invalid">
                        El RUT ingresado no es válido. Por favor vuelva a ingresar el RUT
                    </span>
                    <label for="nombre" *ngIf="!isPersona">Razon Social</label>
                    <label for="nombre" *ngIf="isPersona">Nombre y Apellido</label><br>
                    <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese nombre del destinatario" maxlength="50">
                    <span *ngIf="nombre?.touched && nombre?.errors?.required" class="text-invalid">
                        El Nombre es obligatorio.
                    </span>
                    <label for="banco">Banco</label><br>
                    <select formControlName="banco" class="form-control" >
                        <option value="" disabled selected>Seleccione el Banco</option>
                        <option *ngFor="let banco of bancos" [value]="banco.nombre">{{banco.nombre}}</option>
                    </select>
                    <span *ngIf="banco?.touched && banco?.errors?.required" class="text-invalid">
                        El Banco es obligatorio.
                    </span>
                    <label for="tipo">Tipo de cuenta</label><br>
                    <select formControlName="tipo" class="form-control" placeholder="Seleccione Tipo de Cuenta">
                        <option value="" disabled selected>Seleccione Tipo de Cuenta</option>
                        <option *ngFor="let tipo of tipos" [value]="tipo.descripcion">{{tipo.descripcion}}</option>
                    </select>
                    <span *ngIf="tipo?.touched && tipo?.errors?.required" class="text-invalid">
                        El Tipo de cuenta es obligatorio.
                    </span>
                    <label for="numero">Número de Cuenta</label><br>
                    <input type="text" formControlName="numero" class="form-control" placeholder="Ingresa el numero de la cuenta"  maxlength="16">
                    <span *ngIf="numero?.touched && numero?.errors?.required" class="text-invalid">
                        El Número de cuenta es obligatorio.
                    </span>
                    <label for="email">Email</label><br>
                    <input type="text" formControlName="email" class="form-control" placeholder="Ingresa un email"  maxlength="50">
                    <label for="email">Telefono</label><br>
                    <input type="text" formControlName="telefono" class="form-control" placeholder="Telefono"  maxlength="10">
                </div>
            </div>
            <br>
            <div class="btn-group" *ngIf="!creandoDestinatario">
                <button class="btn-custom-orange" style="margin-right: 1rem;" (click)="nuevoDestinatario = false">Volver</button>
                <button class="btn-custom" [disabled]="formDestinatario.invalid">Agregar</button>
            </div>
            <div class="btn-group" *ngIf="creandoDestinatario">
                <p>Creando Destinatario por espere...</p>
            </div>

        </div>
    </div>
    </form>
</div>


